.ContenedorCategorias {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.listaCategorias {
  display: flex;
  align-items: center;
  margin: 20px;
}

.contenedorTitulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.titulo {
  font-size: 35px;
  font-weight: 900;
  text-align: left;
  margin-left: 30px;
}

.contenedorCategorias {
  display: flex;
  overflow: hidden;
  width: calc(100% - 80px);
}

.contenido {
  display: flex;
  height: auto;
  width: auto;
  transition: transform 0.3s ease;
  gap: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.categoriaItem {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  background: transparent;
}

/* .categoriaImagen {
  padding: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  outline: none;
  border-radius: 50%;
  background-color: #dda429;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoriaItem:hover .categoriaImagen {
  transform: scale(1.1); 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.img {
  border-radius: 50%;
  background-color: #dda429;
} */

.categoriaNombre {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  white-space: normal; 
  word-wrap: break-word;
  max-width: 110px;
}


.categoriaItem:hover .categoriaNombre {
  color: #7d5a02;
  font-weight: bolder;
}

.scrollButton {
  background-color: #FFBF1A;
  height: 60px;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.scrollButton:hover {
  background-color: #2a2929;
  color: #FFBF1A;
}

.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; 
  height: 80px;
  background-color: #e8a703; 
  border-radius: 50%; 
  font-size: 50px; 
  color: white; 
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.categoriaItem:hover .emoji {
  transform: scale(1.1); 
  border: solid 3px #FFBF1A; 
  background: transparent;
}

@media (max-width: 768px) {
  .contenedorTitulo {
    gap: 15px;
  }

  .titulo {
    font-size: 28px;
  }

  .contenedorCategorias {
    width: calc(100% - 40px);
  }

  .contenido {
    gap: 20px;
  }

  .categoriaImagen {
    width: 80px;
    height: 80px;
  }

  .categoriaNombre {
    font-size: 14px;
  }

  .scrollButton {
    height: 50px;
    font-size: 18px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .contenedorTitulo {
    gap: 10px;
  }

  .titulo {
    font-size: 22px;
  }

  .contenedorCategorias {
    width: calc(100% - 20px);
  }

  .contenido {
    gap: 10px;
  }

  .categoriaImagen {
    width: 60px;
    height: 60px;
  }

  .categoriaNombre {
    font-size: 10px;
  }

  .scrollButton {
    height: 40px;
    font-size: 16px;
    padding: 5px;
  }
}
